{% extends 'base.html' %}

{% block title %} {{name}} {% endblock %}
{% block script %}
<script type="text/JavaScript">

	function loop(t){	
		setInterval( function() { loadDoc("system"); } , t);
	}
	
	function loadDoc(id) {		
		var xhttp;	

	    xhttp = new XMLHttpRequest();
	    
	    xhttp.onreadystatechange = function() {
	    	if (xhttp.readyState == 4 &&
	    		xhttp.status == 200){
	    		document.getElementById(id).innerHTML = xhttp.responseText; 
	    	}
	    };
	    
	    xhttp.open("GET", window.location.href, true);
	    xhttp.send();		  
	}
    
</script>
{% endblock %}

{% block style %}
{% load staticfiles %}
<link rel="stylesheet" type="text/css" href="{% static 'monitor/style.css' %}" />
{% endblock %}


{% block content %}

<body onload="JavaScript:loop({{refreshInterval}});">
	<div class="system", id="system">
		<div class="process block">
			<h3>Process Basic Infomation</h3>
			<p> Name : {{name}} (pid : {{pid}}) </p>			
			<p> Execution Path : {{exe}} </p>
			<p>cmd :  
			{% for each in cmdline %}
				{{each}}
			{% endfor %} 
			</p>
			<p> Created Since {{created}}</p>
			<p> User Name : {{username}} </p>			
			
		</div>
		
		<div class="process block">
			<h3>Process Addtional Infomation</h3>			
			<p> Parent Process Name : <a href="/monitor/{{ppid}}">{{parent_name}}</a> (ppid : {{ppid}})</p>
			<p class="tableTitle"> I/O Counters</p>
			<table class="addtionalInfo">
				<tr>
					<th> Read Count</th>
					<th> Write Count</th>
					<th> Read Bytes</th>
					<th> Write Bytes</th>
				</tr>
				<tr class="value">
					<td> {{ io_counters.read_count }} </td>
					<td> {{ io_counters.write_count }} </td>
					<td> {{ io_counters.read_bytes }} </td>
					<td> {{ io_counters.write_bytes }} </td>
				</tr>				
			</table>
			<p style="font-size:13px"> Context Switching :  
			Voluntary( {{num_ctx_switches.voluntary}} ), 
			Involuntary( {{num_ctx_switches.involuntary}} )</p>
			
			<p><b> Children </b></p>
			<div class="innerblock">
				<table style="font-size:12px">
					<tr>
						<th> PID </th>
						<th> Name </th>
					</tr>
					
					{% for each in children %}
					<tr>
						<td style="text-align:right"> {{each.pid}} </td>
						<td style="padding-left:10px"><a href="/monitor/{{each.pid}}"> {{each.name}} </a> </td>
					</tr>
					{% endfor %}
	
				</table>
			</div>
			
		
		</div>
		
		<div class="halfblock">
			<h3>Thread Infomation</h3>
			<p> Number of Threads : {{num_threads}} </p>
			<table>
				<tr>
					<th> ID </th>
					<th> User Time </th>
					<th> System Time </th>					
				</tr>
				{% for each in threads %}
				<tr class="value">					
					<td> {{each.id}} </td>
					<td> {{each.user_time}} </td>
					<td> {{each.system_time}} </td>
				</tr>
				{% endfor %}
			</table>
		</div>
		
		<div class="halfblock">
			<h3>Opened File Infomation</h3>
			<p> Number of Files : {{num_fds}} </p>
			<table>
				<tr>
					<th> FD </th>
					<th> Path </th>										
				</tr>
				{% for each in open_files %}
				<tr class="value", style="font-size:13px">					
					<td> {{each.fd}} </td>					
					<td> {{each.path}} </td>
				</tr>
				{% endfor %}
			</table>
		</div>
		
		<div class="halfblock">
			<h3>CPU & Memory Infomation</h3>
			<p> Usage of CPU : {{cpu_percent}}% </p>
			<p>  
				CPU Times : ( user : {{cpu_times.user}}, system : {{cpu_times.system}} )
			</p>
			
			<p> Usage of Memory : {{memory_percent}} </p>
			<table class="cpuAndMem">
				<tr>
					<th>Kind</th>
					<th>Bytes</th>
				</tr>
				<tr>
					<td>rss</td>
					<td style="text-align:right">{{memory_info_ex.rss}}</td>
				</tr>
				<tr>
					<td>vms</td>
					<td style="text-align:right">{{memory_info_ex.vms}}</td>
				</tr>
				<tr>
					<td>shared</td>
					<td style="text-align:right">{{memory_info_ex.shared}}</td>
				</tr>
				<tr>
					<td>text</td>
					<td style="text-align:right">{{memory_info_ex.text}}</td>
				</tr>
				<tr>
					<td>lib</td>
					<td style="text-align:right">{{memory_info_ex.lib}}</td>
				</tr>
				<tr>
					<td>data</td>
					<td style="text-align:right">{{memory_info_ex.data}}</td>
				</tr>
				<tr>
					<td>dirty</td>
					<td style="text-align:right">{{memory_info_ex.dirty}}</td>
				</tr>
			</table>
		</div>
		
		<div class="halfblock">
			{% for each in connections %}
				{% for e in each %}
					<p> {{e}} </p>
				{% endfor %}
				<hr>
			{% endfor %}					
		</div>	
		
		<div class="test">
			<p>status : {{status}} </p>
			<p>uids	: {{uids}} </p>
			<p>gids	: {{gids}} </p>
			<p>nice : {{nice}} </p>
			<p>ionice : {{ionice}} </p>		
			<p>cpu_affinity : {{cpu_affinity}} </p>
			<p>connections : {{connections}} </p>
			<p>is_running : {{is_running}} </p>
		</div>
	</div>
	
</body>

{% endblock %}

