{% extends 'base.html' %}
{% load staticfiles %}

{% block title %} test_title {% endblock %}
{% block script %}
<script type="text/JavaScript">

	function loop(t){	
		setInterval(loadDoc, t);
	}
	
	function loadDoc() {
		
			
		var xhttp;	

	    xhttp = new XMLHttpRequest();
	    
	    xhttp.onreadystatechange = function() {
	    	if (xhttp.readyState == 4 &&
	    		xhttp.status == 200){
	    		document.getElementById("system").innerHTML = xhttp.responseText; 
	    	}
	    };
	    
	    xhttp.open("GET", window.location.href, true);
	    xhttp.send();
		  
	}
    
</script>
{% endblock %}

{% block style %}
<link rel="stylesheet" type="text/css" href="{% static 'monitor/style.css' %}" />
{% endblock %}


{% block content %}

<body onload="JavaScript:loop(1000);">
	<div class="system", id="system">
		<p> {{name}} </p>
		<p> {{pid}} </p>
		<p> {{ppid}} </p>
		<p> {{exe}} </p>
		<p> {{cmdline}} </p>
		<p> {{created}} </p>
		<p> {{status}} </p>
		<p>	{{cwd}} </p>
		<p>	{{username}} </p>
		<p>	{{uids}} </p>
		<p>	{{gids}} </p>
		<p> {{nice}} </p>
		<p> {{ionice}} </p>
		<p> {{rlimit}} </p>
		<p> {{io_counters}} </p>
		<p> {{num_ctx_switches}} </p>
		<p> {{num_fds}} </p>
		<p> {{num_threads}} </p>
		<p> {{threads}} </p>		
		<p> {{cpu_times}} </p>
{#		<p> {{cpu_percent}} </p>#}
		<p> {{cpu_affinity}} </p>
		<p> {{memory_info_ex}} </p>
		<p> {{memory_percent}} </p>
		<p> {{children}} </p>
		<p> {{open_files}} </p>
		<p> {{connections}} </p>
		<p> {{is_running}} </p>
	</div>
	
</body>

{% endblock %}

